* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  position: relative;
}

.navbar {
  background-color: #4383af;
  min-height: 10.25;

}

@media only screen and (min-width: 1088px) {
  .navbar-item {
    color: #fff;

  }

  .navbar-link.is-active,
  a.navbar-item.is-active {
    color: #fff;

  }

  .navbar-item:hover .navbar-link.is-active,
  .navbar-link:hover,
  a.navbar-item.is-active,
  a.navbar-item:hover {
    color: #fff;
    background-color: transparent;
    border-bottom: 4px solid #4383af;
  }
}

@media only screen and (max-width: 1088px) {

  .navbar-item:hover .navbar-link.is-active,
  .navbar-link:hover,
  a.navbar-item.is-active,
  a.navbar-item:hover {
    color: black;
    background-color: transparent;
    border-bottom: 4px solid #4383af;
  }
}

@media only screen and (min-width: 1088px) {
  a.navbar-item:hover {
    border-bottom-color: #fff;
    color: white;
  }
}

.navbar-brand>a.navbar-item:hover {
  border: 0px;
}

a.navbar-link:hover {
  color: white;
}

.navbar-brand {
  margin-right: 30px;
}

.navbar-end .navbar-link {
  color: #fff;

}

.navbar-item.has-dropdown.is-active .navbar-link,
.navbar-item.has-dropdown:hover .navbar-link {
  background-color: transparent;
}

.navbar-dropdown>a.navbar-item {
  color: black;
}

.cat {
  background-color: white;
  border-bottom: 1px solid #dfe6e9;
}

.cat-item>a.navbar-item:hover {
  color: gray;
  border: none;
  cursor: pointer;
}

.cat-item a.navbar-item {
  color: gray;

  cursor: pointer;
}

.main-container {
  min-height: 100vh;
  /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 50px;
  /* height of your footer */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 50px;

}

.footer {
  padding: 1rem 1rem 1rem;
  background-color: #4383af;
  color: #fff;
}

.navbar-link:not(.is-arrowless)::after {
  border-color: #fff;
}


.login-element {
  width: 50%;

}

section {
  margin-top: 10px;
  margin-bottom: 100px;
  margin-left: 10px;
  margin-right: 10px;
}