<div class="interests-nav">
<small>
  <nav class="navbar cat" role="navigation" style="z-index:20;">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
       <span aria-hidden="true"></span>

    </a>  
  </div>
  
<div class="navbar-menu" id="navMenu">
    <div class="navbar-start cat-item">
      
      <a class="navbar-item" href="test.html">
       Kraj
      </a>
      <a class="navbar-item">
       Zagranica
      </a>
      <a class="navbar-item">
       Irak
      </a>
      <a class="navbar-item">
       Technologia
      </a>
      
    </div>
  </div>
</nav>
</small>
</div>
